* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ul {
    display: flex;
    justify-content: center;
}

.li {
    margin: auto 10px;
    list-style: none;
}

.red {
    width: 200px;
    height: 45px;
    background-color: #db291d;
    margin-bottom: 4px;
    align-items: center;
    
}

.yellow {
    width: 200px;
    height: 6px;
    background-color: #ee8c01
}

.image {
    height: 45px;
    width: auto;
}

.header2,.box2 {
    display: flex;
    justify-content: space-between;
}

.checked {
    display: flex;
    justify-content: center;
    text-align: center;
}

.check-item {
    background-color: #f4f4f4;
    color:#C2C2C2;
    border-radius:7px 7px 0 0;
    /* border-top: red solid 10px; */
    height: 75px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    height: 80px;
    width: 225px;
    border-top: red solid 10px;
    background-color: white;
    color: red;
}

.check-item:hover {
    padding-top: 10px;
}
    
#image {
    margin-bottom: 15px;
}

.newproduction {
    background-color: #f4f4f4;
    margin-bottom: 50px;
}

.newproduction h1 {
    text-align: center;
}

.imgproduction {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.imageproduction {
    width: 460px;
    height: auto;
    margin:50px 0;
}

.endproduction {
    height: 40px;
    width: 125px;
    border-radius: 2px;
    border:red solid 1px;
    color: red;
    text-align: center;
    margin: auto; 
}

.listproduct {
    display: flex;
    justify-content: center;
}

.food,.drink {
    border: red solid 1px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    font-size: 10px;
    padding: 10px;
}

.table {
    margin: 50px;
}

.service {
    background-color: #f4f4f4;
}

.service h1,h2 {
    margin-top: 50px;
    text-align: center;
    background-color: #f4f4f4;
}

.service-img {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    margin-bottom: 50px;
}

.service-image {
    width: 150px;
}